:root {
    --cor-fundo: #434343;
    --cor-texto-primaria: #DFDFDF;
    --cor-texto-secundaria: #BD5DB9;
    --cor-texto-titulo: #C0C0C0;
    --fonte: sans-serif;
    --tamanho-fonte-textos: 1rem;
    --tamanho-fonte-titulo: 3rem;
    --tamanho-fonte-subtitulo: 2rem;
    --tamanho-fonte-footer: 1rem;
    --tamanho_imagens_projetos: 95%;
}
/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
    background-color: transparent; /* Cor de fundo da barra de rolagem */
}

/* Estilizando o botão da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: rgb(105, 104, 104); /* Cor do botão da barra de rolagem */
    border-radius: 4px; /* Raio das bordas do botão */
}

/* Alterando a aparência do botão da barra de rolagem quando estiver hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #a1a1a1; /* Nova cor do botão ao passar o mouse */
}

/* Estilizando a trilha da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: transparent; /* Cor de fundo da trilha */
}

/* Estilizando os cantos da barra de rolagem */
::-webkit-scrollbar-corner {
    background-color: transparent; /* Cor de fundo dos cantos */
}


*
{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-fundo);
    max-width: 100vw;
    font-family: var(--fonte);
}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30rem;
    padding-top: 1.372rem;
    padding-bottom: 0.5rem;
    box-shadow: 0px 2.5px 1px rgba(0, 0, 0, 0.4);;
}
header div{
    display: flex;
    gap: 2rem;
}
.nome:hover{
    color: var(--cor-texto-secundaria);
}

.link_nav{
    text-decoration: none;
    font-size: var(--tamanho-fonte-textos);
    color: var(--cor-texto-primaria);
    font-weight: bold;
    transition: 0.3s all ease;
}
.nav:hover a{
    color: #585858;
}
.nav:hover a:hover{
    color: var(--cor-texto-secundaria);
    box-shadow: 0 2px 0 0 currentColor;
}
#nome_nav{
    animation: changeColor 2s infinite;
}
#nome_nav:hover{
    color: var(--cor-texto-secundaria);
    box-shadow: 0 2px 0 0 currentColor;
    animation: none;
}
@keyframes changeColor {
    0% {
        color: rgb(201, 197, 200);
    }
    50% {
        color: rgb(117, 116, 117);
    }
    100% {
        color: var(--cor-texto-primaria);
    }
}
.nome{
    font-size: 1.372rem;
}
.conteudo{
    font-family: var(--fonte);
    color: var(--cor-texto-primaria);
    display: flex;
    flex-direction: column;
    padding: 4% 10%;
}
#titulo_sub_querie{
    display: none;
}
.titulo{
    font-size: var(--tamanho-fonte-titulo);
    font-weight: bold;
}
.texto_destaque{
    color: var(--cor-texto-secundaria);
}
.conteudo_principal{
    display: flex;
    flex-direction: row;
    padding-top: 5%;
}
.conteudo_principal_descricao{
    display: flex;
    flex-direction: column;
    padding: 0 4rem 0 3rem;
}
.texto{
    font-size: 1.3rem;
}
.foto_pessoal{
    border: solid 0.3rem var(--cor-texto-secundaria);
    border-radius: 100%;
    width: 30%;
    height: 15%;
    max-width: 30%;
    max-height: 15%;
    min-width: 20%;
}
.subtitulo{
    font-size: var(--tamanho-fonte-subtitulo);
    font-weight: bold;
    padding-right: 6rem;
    white-space: nowrap;
}
.conteudo_principal_links{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.links_link{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 1.2rem;
    align-items: center;
    transition: 0.3s all ease;
}
.links_link:hover a{
    opacity: 0.3;
}
.links_link:hover a:hover{
    box-shadow: 0 2px 0 0 currentColor;
    opacity: 1;
    color: #585858;
}
.footer{
    display: flex;
    flex-direction: column;
    color: var(--cor-texto-primaria);
    justify-content: center;
    align-items: center;
    font-size: var(--tamanho-fonte-footer);
    max-width: 100%;
}
.subtitulo_footer{
    font-size: 1.5rem;
    padding-top: 1.5rem;
}
.texto_footer{
    padding: 1rem 0 1rem 0;
}
.titulo_projeto{
    font-size: var(--tamanho-fonte-subtitulo);
    font-weight: bold;
}
.subtitulo_projetos{
    font-weight: bold;
    font-size: var(--tamanho-fonte-textos);
    color: var(--cor-texto-titulo);
    padding-bottom: 4%;
}
.projetos{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 6rem;
    padding: 4% 7% 0 0;
}
.projetos_imagens{
    width: var(--tamanho_imagens_projetos);
    height: auto;
    border-right: 25px solid rgba(189, 93, 185, 0.2); 
    border-top: 35px solid rgba(189, 93, 185, 0.2);
    border-left: 25px solid rgba(189, 93, 185, 0.2);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
#conteudo_projetos{
    max-width: 40%;
}
.link_about{
    text-decoration: none;
    color: var(--cor-texto-primaria);
    display: flex;
    gap: 0.7rem;
    align-items: center;
    background-color: var(--cor-texto-secundaria);
    width: 12.5rem;
    font-weight: bold;
    background-color: #BD5DB9;
    border-radius: 5px;
    border: 0.3px solid black;
    margin-top: 5%;
    justify-content: center;
    transition: ease-out 0.5s;
}
.link_about:hover{
    box-shadow: inset 0 0 0 20px #777476;
    border: 0.3px solid var(--cor-texto-secundaria);
}

#container_projetos{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-right: 1rem;
}
.conteudo_titulo_seta{
    display: flex;
}
.conteudo_titulo_seta img{
    padding-left: 6rem;
}
.conteudo_about{
    padding-top: 6%;
}
.model{
    display: flex;
    width: 40%;
}
.model img{
    border: solid 0.3rem var(--cor-texto-secundaria);
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
}
.model_youtube_conteudo{
    padding-left: 8%;
}
.container_historico_models{
    display: flex;
    gap: 9rem;
}
.segundo{
    padding-top: 7%;
}
.imagens_programando{
    display: flex;
    gap: 8rem;
    padding-top: 5%;
}
.imagens_programando img{
    border-right: 20px solid rgba(189, 93, 185, 0.2); 
    border-top: 10px solid rgba(189, 93, 185, 0.2);
    border-left: 20px solid rgba(189, 93, 185, 0.2);
    border-bottom: 10px solid rgba(189, 93, 185, 0.2);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    height: auto;
    width: 50%;
}
.titulo_about{
    padding-top: 3%;
}

@media(max-width: 1090px){
    .container_historico{
        display: flex;
        flex-direction: column;
    }
    .container_historico_models{
        flex-direction: column;
    }
    .model{
        gap: 1%;
    }
    .container_historico_models{
        gap: 40%;
    }
    .model_instagram{
        padding-top: 6%;
        width: 80vw;
        margin: 3% 0 3% 0;
    }
    .model_college{
        padding-top: 6%;
        width: 80vw;
        margin: 3% 0 5% 0;
    }
    .model_youtube{
        width: 80vw;
    }
    .model_monitor{
        width: 80vw;
    }
    .model_youtube_conteudo{
        padding-left: 3%;
    }
}

@media(max-width: 900px)
{
    .conteudo_principal{
        flex-direction: column;
    }
    .conteudo_principal_descricao{
        padding: 6% 0 0 0;
    }
    .foto_pessoal{
        margin: 0 auto;
        width: 50%;
        height: 25%;
    }
    .sub_index{
        padding-bottom: 2%;
    }
    .texto_index{
        padding-bottom: 5%;
    }
    header{
        gap: 25%;
    }
    .conteudo_titulo_seta img{
        padding-left: 2rem;
        width: 15%;
    }
    @media(max-width:768px){
        .titulo{
            font-size: 2rem;
        }
        .subtitulo{
            font-size: 1.5rem;
        }
        .projetos{
            flex-direction: column-reverse;
            justify-content: flex-start;
            gap: 1rem;
            padding: 6% 7% 0 0;
        }
        .projetos_imagens{
            width: 80%;
            border-right: 25px solid rgba(189, 93, 185, 0.2); 
            border-top: 35px solid rgba(189, 93, 185, 0.2);
            border-left: 25px solid rgba(189, 93, 185, 0.2);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            height: auto;
        }
        #conteudo_projetos{
            max-width: 95%;
        }
        #conteudo_projetos a{
            margin: 0 auto;
            margin-top: 1rem;
        }
        #titulo_sub_querie{
            display: flex;
            flex-direction: column;
        }
        .titulo_projeto{
            display: none;
        }
        .subtitulo_projetos{
            display: none;
        }
        .titulo_querie{
            font-size: var(--tamanho-fonte-subtitulo);
            font-weight: bold;
            padding-top: 5%;
        }
        .subtitulo_querie{
            font-weight: bold;
            font-size: var(--tamanho-fonte-textos);
            color: var(--cor-texto-titulo);
            padding-bottom: 4%;
        }
        #texto_projetos{
            text-align: justify;
        }
    }
    @media(max-width:600px){
        .imagens_programando{
            flex-direction: column;
        }
        .imagens_programando img{
            margin: 0 auto;
            width: 80%;
        }
        
        .conteudo_principal_links{
            display: none;
        }
        .conteudo_titulo_seta img{
            display: none;
        }
    }
    @media(max-width: 440px){
        header{
            gap: 3%;
        }
        .subtitulo_projetos{
            font-size: 0.8rem;
        }
        .texto{
            font-size: 0.9rem;
            white-space: normal;
        }
        .imagens_programando img{
            width: 80%;
            padding: 0;
        }
        .imagens_programando{
            gap: 3rem;
            padding-top: 2rem;
        }
        #img_youtube{
            width: 3rem;
            height: 3rem;
        }
        #img_instagram{
            width: 3.3rem;
            height: 3.3rem;
        }
        #img_college{
            width: 3.5rem;
            height: 3.5rem;
        }
        #img_beca{
            width: 3.5rem;
            height: 3.5rem;
        }
        #conteudo_about{
            padding: 2% 0 0 1%;
        }
    }
}